* {
    box-sizing: border-box;
}

a {
    color: blue;
    text-decoration: none;
}

/* Navigation */

body {
    margin: 0;
    background-image: url('/static/photos/bg.png');
}

.navbar{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px;
    background: #DABFFF;
    justify-content: center;
    border: 5px double #FFFFFF;
    z-index: 9999;
}


.navbar a {
    width: 150px;
    background: #4BC6B9;
    border: 5px solid #FFFFFF;
    color: white;
    margin: auto;
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover{
    background: #F19C79;
}


.navbar .expand {
    display: none;
}

/* Header */
.header-container{
    margin-top: 110px;
    position: relative;
    width: 70%;
    margin-left: auto;
    justify-content: center;
    display: flex;
    margin-right: auto;
    background: #F19C79;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}

header{
    display: flex;
}

header h1{

    font-family: Roboto;
    font-size: 75px;
    margin: auto;
    padding: 10px;
}

/* Contents */




.contents{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.middle-column{
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 100%;
}

.start-row{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-self: center;
    height: 100%;
}

.middle-row{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-self: center;
    height: 100%;
}

.left-column{
    width: 50%;
    
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: flex-start;
}
.right-column{
    width: 50%;
    margin-top: 70px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Homepage */

.homepage-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

/* Animation Content */
/* Normal */
.textbox{
    position: relative;
    margin: 15px;
}

.image {
    display: block;
    position: relative;
    width: 350px;
    height: 50px;
    float: left;
    margin-right: -100%;
}

.cover-container {
    position: relative;
    text-align: center;
    color: black;
    z-index: 1;
    
}

.cover-text{
    
    width: 175px;
    height: 25px;
    position: relative;
    top: 13px;
    left: 50px;
    font-size: 20px;
    text-align: center;
}

.content-container-clicked{
    position: relative;
    text-align: center;
    color: black;
    transition: ease 0.5s;
    left: 150px; 
}

.content-container {
    position: relative;
    text-align: center;
    color: black;
    transition: ease 0.5s;
    left: 0%;
}


.content-text{
    width: 200px;
    height: 25px;
    position: relative;
    top: 13px;
    left: 115px;
    font-size: 20px;
    text-align: center;
    float: left;
    margin-right: -100%;

}



/* Rotate */

.textbox-rotate{
    position: relative;
    margin: 10px;
}

.image-rotate{
    display: block;
    position: relative;
    margin-left: -100%;
    float: right;
    transform: rotate(180deg);
}

.content-container-rotate {
    position: relative;
    text-align: center;
    color: black;
    transition: ease 0.5s;
    right: 0%;
    z-index: 1;
}

.content-container-rotate-clicked{
    right: 150px; 
    position: relative;
    text-align: center;
    color: black;
    transition: ease 0.5s;
    right: 150px;
    z-index: 1;
}

.cover-text-rotate{
    width: 175px;    
    height: 25px;    
    position: relative;
    top: 13px;     
    right: 50px;      
    font-size: 20px;      
    text-align: center;       
    margin-left: -100%;    
    float: right;
}

.content-text-rotate{
        width: 200px;
        height: 25px;
        position: relative;
        top: 13px;
        font-size: 20px;
        float: right;
        margin-left: -100%;
        right: 86px;
        text-align: center;

}

/* Image */
.image-relative{
    
    position: relative;
    margin: 10px;
    margin-left: 10%;
}

/* Desc */
.desc{
    display: flex;
    margin: 10px;
    width: 80%;
    justify-content: center;
    background: #F19C79;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.desc p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-align: center;
}

/* History Image */

.history-image{
    align-self: center;
    width: 300px;
    height: 300px;
}

/* Shape */

/* Circle */

.circle{
    background: #DABFFF;
    height: 200px;
    width: 200px;
    background-color: #bbb;
    display: flex;
    align-self: center;
    border-radius: 50%;
    justify-content: center;
}

.circle a {
    font-family: Roboto;
    display: flex;
    font-size: 80px;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

/* Parallelogram */
.parallelogram{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 50px;
    transform: skew(50deg);
    background: #4BC6B9;
}

.parallelogram > div{
    transform: skew(-50deg);
    text-align: center;
    font-size: 20px;
}

.parallelogram-rotate{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 50px;
    transform: skew(-50deg) rotate(180deg);
    background: #DABFFF;
}

.parallelogram-rotate > div{
    transform: skew(50deg) rotate(180deg);
    text-align: center;
    font-size: 20px;
}


/* Triangle */

.left-triangle{
    width: 0;
    height: 0;
    margin-left: 100px;
    align-self: center;
	border-top: 25px solid transparent;
	border-right: 50px solid #C4C4C4;
	border-bottom: 25px solid transparent;
}

.right-triangle{    
    width: 0;
    height: 0;
    margin-right: 100px;
    align-self: center;
    border-top: 25px solid transparent;
    border-left: 50px solid #C4C4C4;
    border-bottom: 25px solid transparent;
}

/* trapezoid */

.trapezoid-up-big {
    border-top: 50px solid #4BC6B9;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    text-align: center;
    font-size: 20px;
    margin: auto;
    width: 400px;
}

.trapezoid-down-big {
    border-bottom: 50px solid #DABFFF;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    font-size: 20px;
    width: 400px;
    text-align: center;
    margin: auto;
}

/* flag-shape */

.flag-shape{
    margin-left: 20px;
    border-top: 20px solid #DABFFF;
    border-bottom: 20px solid #DABFFF;
    position: relative;
    border-right: 25px solid transparent;
    height: 0;
    width: 300px;
    text-align: center;
    align-self: center;
}

.flag-shape > div {

    position: relative;
    bottom: 10px;
    font-size: 20px;
}

.flag-shape > a {

    position: relative;
    bottom: 10px;
    font-size: 20px;
}

.android-img{
    float: right;
    order: 2;
}

.android-ver{
    display: none;
}

.normal-text{
    display: none;
}

.icon{
    width: 96px;
    height: 96px;
}

@media screen and (max-width: 850px) {
    
    .navbar a{
        display: none;
    }

    .navbar a.expand {
        float: right;
        display: block;
        width: auto;
    }

    .navbar a{
        width: 100px;
        font-size: 20px;
        border: 3px solid #FFFFFF;
    }

    .navbar-responsive {
        display: flex;
        width: 100%;
        align-content: flex-start;
        position: fixed;
        flex-direction: column;
        top: 0;
        padding: 10px;
        background: #DABFFF;
        justify-content: center;
        border: 5px double #FFFFFF;
        z-index: 9999;
}
    .navbar-responsive .expand {
        height: auto;
        position: absolute;
        width: 75px;
        right: 0;
        top: 0;
    }

    .navbar-responsive a {
        height: 70%;
        width: 150px;
        background: #4BC6B9;
        border: 3px solid #FFFFFF;
        flex-direction: column;
        color: white;
        margin: auto;
        font-size: 25px;
        text-decoration: none;
        text-align: center;
    }

    /* Header */
    header h1{
        font-size: 30px;
    }

    .contents{
        flex-direction: column;
    }

    .middle-column{
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        width: 100%;
    }
    
    .start-row{
        position: relative;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-self: flex-start;
        height: 100%;
    }

    .middle-row{
        position: relative;
        display: flex;
        width: 100%;
        justify-content:center;
        align-self: center;
        height: 100%;
    }

    .left-column{
        width: 100%;
        margin-left: 10px;
    }
    .right-column{
        width: 100%;
        margin-left: 0px;
        margin-right: 0;
        margin-top: 20px;
        flex-direction: column;
        justify-content: flex-start;
    }

    /* Textbox*/

    .android-ver{
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 20px;
        /* width: 100%; */
        font-family: Roboto;
        /* margin: auto; */
    }

    .odd-row{

        background: #c4c4c4;
        padding-left: 10px;
    }

    .even-row{
        padding-left: 10px;
        background: #4BC6B9;
    }

    .android-img{
        float: left;
    }

    .normal-text{
        order: 3;
        display: flex;
        align-self: center;
        background: #4BC6B9;
        border: 3px solid #FFFFFF;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        width: 200px;
        border-radius: 10px;
        padding: 10px;
        margin-left: 10px;
        
    }

    .textbox{
        display: none;
    }
    
    .image {
        display: none;
    }
    
    .cover-container {
        display: none;
    }
    
    .cover-text{
        display: none;
    }
    
    .content-container-clicked{
        display: none;
    }
    
    .content-container {
        display: none;
    }
    
    
    .content-text{
        display: none;
    }

    /* Rotate*/
    
    .textbox-rotate{
        display: none;
    }

    .image-rotate{
        display: none;
    }

    .content-container-rotate {
        display: none;
    }

    .content-container-rotate-clicked{
        display: none;
    }

    .cover-text-rotate{
        display: none;
    }

    .content-text-rotate{
        display: none;
    }

        /* Desc */
    .desc{
        display: flex;
        margin: 10px;
        width: 70%;
        justify-content: center;
        background: #F19C79;
        border: 3px solid #FFFFFF;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .desc p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    /* Parallelogram */
    .parallelogram{

        width: 300px;
        margin-left: -8px;
        transform: skew(40deg);

    }

    .parallelogram > div{
        transform: skew(-40deg);
        text-align: center;
        font-size: 20px;
    }



    .parallelogram-rotate{

        width: 300px;
        margin-left: -8px;
        transform: skew(-40deg) rotate(180deg);

    }

    .parallelogram-rotate > div{
        transform: skew(40deg) rotate(180deg);
    }



    /* trapezoid */

    .trapezoid-up-big {
        width: 280px;
    }

    .trapezoid-down-big {
        width: 280px;

    }
    /* History Image */

    .history-image{
        align-self: center;
        width: 200px;
        height: 200px;
    }

    .icon{
        width: 60px;
        height: 50px;

    }

    /* flag-shape */

    .flag-shape{
        margin-left: 10px;
        width: 300px;
    }

    .flag-shape > div {

        position: relative;
        bottom: 10px;
        font-size: 20px;
    }

    .flag-shape > a {

        position: relative;
        bottom: 10px;
        font-size: 20px;
    }

    .left-triangle{
        border-top: 15px solid transparent;
        border-right: 30px solid #C4C4C4;
        border-bottom: 15px solid transparent;
    }
    
    .right-triangle{    
        border-top: 15px solid transparent;
        border-left: 30px solid #C4C4C4;
        border-bottom: 15px solid transparent;
    }
}