body{
  margin: 0;
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
  
.navbar li {
  float: right;
}
  
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar a.active {
  background-color: #4CAF50;
}

.contents{
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

.row-center{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

.row-center a{
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #111;
}

.column-center{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}

.column-center-2{
  display: flex;
  width: 50%;
  justify-content: flex-start;
  flex-direction: column;
}

.column-center button{
  margin-top: 20px;
}

.add-block{
  font-weight: bold;
  line-height: 35px;
  display: flex;
  background: lavender;
  padding-left: 10%;
  width: 50%;
  border: slateblue;
  margin: auto;
  flex-direction: column;
  border-style: solid;
}

.detail-block{
  padding: 20px; 
  background-color:lavender; 
  width:70%; 
  margin:auto;
  border: slateblue;
  border-style: solid;
}

.ask textarea{
  height: auto;
  width: 80%;
}

.list-matkul{
  display: flex;
  flex-direction: column;
  background: lavender;
  margin: auto;
  border: slateblue;
  margin-top: 30px;
  border-style: solid;
  width: 70%;
  padding-left: 20px;
}

.answer{
  width: fit-content;
  margin-bottom: 20px;
}

.answer p {
  border-style: hidden hidden solid hidden;
  margin: auto;
}

.text-block{
  display: flex;
}