<!DOCTYPE html>
{% load static %}
<html>
    <title>Story 1</title>
    <link rel="icon" type="image/png" href="{% static 'photos/bg2.png' %}"/>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles1.css' %}"> 
    </head>
    <body>
        <div class="contents">
            <div class="middle-column">
                <h1 style="align-self: center;" >Biodata</h1>
                <div style="align-self: center;">
                    <img src={% static 'photos/ID18.jpg' %} alt="Me" width="200" height="250">
                </div>
                
                <div class="middle-row">
                    <div class="desc" style="width: 50%; line-height: 25px;">
                        <table>
                            <tr>
                                <td>Nama</td>
                                <td>: Hendrico Kristiawan</td>
                            </tr>
                            <tr>
                                <td>NPM</td>
                                <td>: 1906350912</td>
                            </tr>
                            <tr>
                                <td>Angkatan</td>
                                <td>: 2019</td>
                            </tr>
                            <tr>
                                <td>Tempat Kuliah</td>
                                <td>: Universitas Indonesia</td>
                            </tr>
                            <tr>
                                <td>Hobi</td>
                                <td>: Menonton film</td>
                            </tr>
                            <tr>
                                <td>Deskripsi</td>
                                <td>: Saya seorang mahasiswa fasilkom UI</td>
                            </tr>
                        </table>
                    </div> 
                </div>
                <h1 style="align-self: center;" >Riwayat Pendidikan</h1>
                <div class="desc" style="width: 50%; line-height: 25px;">
                    <table>
                        <tr>
                            <th>Sekolah</th>
                            <th>Tahun</th>
                        </tr>
                        <tr>
                            <td>SDN Mekarsari 1</td>
                            <td>: 2007 - 2013</td>
                        </tr>
                        <tr>
                            <td>SMPN 1 Tambun Selatan</td>
                            <td>: 2013 - 2016</td>
                        </tr>
                        <tr>
                            <td>SMAN 1 Tambun Selatan</td>
                            <td>: 2016 - 2019</td>
                        </tr>
                        <tr>
                            <td>Universitas Indonesia</td>
                            <td>: 2019 - sekarang</td>
                        </tr>
                    </table>
                </div>
                <h1 style="align-self: center;" >Kontak Saya</h1>
                <div class="middle-row">
                    <div class="middle-column" style="width: auto; font-size: 20px;">
                        <img src="{% static 'photos/icons8-gmail-96.png' %}" width="96" height="96" alt="gmail" style="align-self: center;">
                        hendrico.kristiawan@ui.ac.id
                    </div>
                    <a target= "_blank" href="https://github.com/IoriU"><img src="{% static 'photos/icons8-github-96.png' %}" alt="github"></a>
                    <a target= "_blank" href="https://www.linkedin.com/in/hendrico-kristiawan-36771317a/"><img src="{% static 'photos/icons8-linkedin-96.png' %}" alt="linkedin"></a>
                </div>

            </div>
            
            
        </div>

    </body>

</html>