<!DOCTYPE html>
{% load static %}
<html>
    {% block title %}
    {% endblock title %}
    <link rel="icon" type="image/png" href="{% static 'photos/bg2.png' %}"/>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles3.css' %}">
        <script>
            function clicked(id, class_name){
                if (document.getElementById(id + "-unclicked")){
                    document.getElementById(id + "-container").className= (class_name + "-clicked");
                    document.getElementById(id + "-unclicked").id= (id + "-clicked");
                } else if (document.getElementById(id + "-clicked")){
                    document.getElementById(id + "-container").className= (class_name);
                    document.getElementById(id + "-clicked").id= (id + "-unclicked");
                }
                
            }
            function navbarView() {
                
                var x = document.getElementById("navbar");
                if (x.className === "navbar") {
                    x.className += "-responsive";
                    document.getElementById("expand").innerHTML = "Back"
                } else {
                    x.className = "navbar";
                    document.getElementById("expand").innerHTML = "Change Page"
                }
            }
           
    
        </script>  
    </head>
    <body>
        <div class="nav-bg">
            <div class="navbar" id="navbar">
                <a href="{% url 'story3:bio' %}">Bio</a>
                <a href="{% url 'story3:skill' %}">Skill</a>
                <a href="{% url 'story3:portofolio' %}">Portofolio</a>
                <a href="{% url 'story3:history' %}">History</a>
                <a href="{% url 'story3:contact' %}">Contact</a>
                <a href="{% url 'story1:story1' %}">Story 1</a>
                <a href="javascript:void(0);" class="expand" id="expand" onclick="navbarView()">
                    Change Page
                </a>
            </div>
        </div>
        <div class="header-container">
            <header>
            {% block header %}
            {% endblock header %}
            </header>
        </div>
        
        <div>
            {% block content %}
            {% endblock content %}
        </div>

    </body>

</html>