{% extends 'base3.html' %}
{% load static %}

{% block title %}
    <title>Bio</title>
{% endblock title %}

{% block header %}
    <h1>Bio</h1>
{% endblock header %}

{% block content %}
    <div class="contents">
        <div class="left-column">
            
            <div class="textbox" id="name" onclick="clicked(this.id, 'content-container')">
                <div id="name-unclicked"></div>
                <div class="content-container" id="name-container">
                    
                    <img src={% static 'photos/smalltext.png' %} alt="Content" class= "image">
                    <div class="content-text">Hendrico Kristiawan</div>
                </div>
                <div class="cover-container">
                    <img src={% static 'photos/smallbox.png' %} alt="Cover" class= "image">
                    <div class="cover-text">Name</div>
                </div>
                
            </div>
            
            <div class="order-image">
                <img src={% static 'photos/ID18.jpg' %} alt="Me" class= "image-relative" width="200" height="250">
            </div>
            <div class="textbox" id="npm" onclick="clicked(this.id, 'content-container')">
                <div id="npm-unclicked"></div>
                <div class="content-container" id="npm-container">
                    <img src={% static 'photos/smalltext.png' %} alt="Content" class= "image">
                    <div class="content-text">1906350912</div>
                </div>
                <div class="cover-container">
                    <img src={% static 'photos/smallbox.png' %} alt="Cover" class= "image">
                    <div class="cover-text">NPM</div>
                </div>
            </div>
        </div>
        <div class="right-column">

            <div class="textbox-rotate" id="university", onclick="clicked(this.id, 'content-container-rotate')">
                <div class="content-container-rotate" id="university-container">
                    <div id="university-unclicked"></div>
                    <img src={% static 'photos/smalltext.png' %} alt="Content" class= "image-rotate" width="350" height="50">
                    <div class="content-text-rotate">University of Indonesia</div>
                </div>
                <div class="cover-container">
                    <img src={% static 'photos/smallbox.png' %} alt="Cover" class= "image-rotate" width="350" height="50">
                    <div class="cover-text-rotate">University</div>
                </div>
                
            </div>
            <div class="textbox-rotate" id="generation", onclick="clicked(this.id, 'content-container-rotate')">
                <div class="content-container-rotate" id="generation-container">
                    <div id="generation-unclicked"></div>
                    <img src={% static 'photos/smalltext.png' %} alt="Content" class= "image-rotate" width="350" height="50">
                    <div class="content-text-rotate">2019</div>
                </div>
                <div class="cover-container">
                    <img src={% static 'photos/smallbox.png' %} alt="Cover" class= "image-rotate" width="350" height="50">
                    <div class="cover-text-rotate">Generation</div>
                </div>
                
            </div>
            <div class="textbox-rotate" id="place", onclick="clicked(this.id, 'content-container-rotate')">
                <div class="content-container-rotate" id="place-container">
                    <div id="place-unclicked"></div>
                    <img src={% static 'photos/smalltext.png' %} alt="Content" class= "image-rotate" width="350" height="50">
                    <div class="content-text-rotate">Bekasi</div>
                </div>
                <div class="cover-container">
                    <img src={% static 'photos/smallbox.png' %} alt="Cover" class= "image-rotate" width="350" height="50">
                    <div class="cover-text-rotate">Place</div>
                </div>
                
            </div>
            <div class="textbox-rotate" id="hobby", onclick="clicked(this.id, 'content-container-rotate')">
                <div class="content-container-rotate" id="hobby-container">
                    <div id="hobby-unclicked"></div>
                    <img src={% static 'photos/smalltext.png' %} alt="Content" class= "image-rotate" width="350" height="50">
                    <div class="content-text-rotate">Watching movies</div>
                </div>
                <div class="cover-container">
                    <img src={% static 'photos/smallbox.png' %} alt="Cover" class= "image-rotate" width="350" height="50">
                    <div class="cover-text-rotate">Hobby</div>
                </div>
                
            </div>
        </div>
        <div class="android-ver">
            <div class="odd-row">
                Name : Hendrico Kristiawan
            </div>
            <div class="even-row">
                NPM : 1906350912
            </div>
            <div class="odd-row">
                University : Universitas Indonesia
            </div>
            <div class="even-row">
                Generation : 2019
            </div>
            <div class="odd-row">
                Place : Bekasi
            </div>
            <div class="even-row">
                Hobby : Watching movies
            </div>
        </div>
    </div>
    <div class="desc">
        <p>I am a computer science student at University of Indonesia.<br>
        I am interested in making games and learning AI.</p>
    </div>
{% endblock %}

