{% extends 'base3.html' %}
{% load static %}

{% block title %}
<title>Contact</title>
{% endblock title %}

{% block header %}
<h1>Contact</h1>
{% endblock header %}

{% block content %}
    <div class="contents">
                
        <div class="left-column">
            <div class="start-row">
                <img src="{% static 'photos/icons8-gmail-96.png' %}" alt="gmail" class="icon" style="float: left;">
                <div class="flag-shape">
                    <div>hendrico.kristiawan@ui.ac.id</div>
                </div>
            </div>

            <div class="start-row">
                <img src="{% static 'photos/icons8-github-96.png' %}" alt="github" class="icon" style="float: left;">
                <div class="flag-shape">
                    <a target= "_blank" href="https://github.com/IoriU">To my profile</a>
                </div>
            </div>

            <div class="start-row">
                <img src="{% static 'photos/icons8-linkedin-96.png' %}" alt="linkedin" class="icon" style="float: left;">
                <div class="flag-shape">
                    <a target= "_blank" href="https://www.linkedin.com/in/hendrico-kristiawan-36771317a/">To my profile</a>
                </div>
            </div>
        </div>
        <div class="right-column" style="margin-top: 0;">
            <div class="desc">
                <p>Want to know more <br>about me ?<br><br><br><br><br>Feel free to contact me!</p>
            </div>
        </div>
    </div>
{% endblock %}