{% extends 'base3.html' %}
{% load static %}

{% block title %}
<title>History</title>
{% endblock title %}

{% block header %}
<h1>History</h1>
{% endblock header %}

{% block content %}
    <div class="contents">
        <div class="middle-column">
            <img src="{% static 'photos/sd.jpg' %}" id="image" alt="placeholder" class="history-image">
            <div class="middle-row" style="margin-top: 20px;">
                <div class="left-triangle" id="left" onclick="clicked(this.id)"></div>
                <div class="middle-column">
                    <div class="trapezoid-up-big">
                        <div style="position: relative; bottom: 37px" id="edu">SDN Mekarsari 1</div>
                    </div>
                    <div class="trapezoid-down-big">
                        <div style="position: relative; top: 15px" id="year">2007 - 2013</div>
                    </div>
                </div>
                <div class="right-triangle" id="right" onclick="clicked(this.id)"></div>
            </div>
    </div>
{% endblock %}


        
        
            
            

</html>