{% extends 'base3.html' %}
{% load static %}

{% block title %}
<title>Portofolio</title>
{% endblock title %}

{% block header %}
<h1>Portofolio</h1>
{% endblock header %}

{% block content %}
    <div class="contents" style="justify-content: flex-start;">
                
        <div class="left-column">
            <img src="https://via.placeholder.com/150x150" alt="placeholder" width="300px" height="200px">
            <div style="margin-left: 22pt;">
                <div class="parallelogram">
                    <div>
                        Unity Project
                    </div>
                </div>
                <div class="parallelogram-rotate">
                    <div>
                        <a target= "_blank" href="https://github.com/IoriU/Gravity">Gravity</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}