{% extends 'base3.html' %}
{% load static %}

{% block title %}
<title>Skill</title>
{% endblock title %}

{% block header %}
<h1>Skill</h1>
{% endblock header %}

{% block content %}
    <div class="contents">
                
        <div class="left-column">
            <div style="display: flex;">
                <img src={% static 'photos/icons8-html-5-96.png' %} alt="Icon" style="float: left;">
                <div class="normal-text">6 months experiences</div>
                <div class="textbox" id="html" onclick="clicked(this.id, 'content-container')">
                    <div id="html-unclicked"></div>
                    <div class="content-container" id="html-container">
                        
                        <img src={% static 'photos/smalltext.png' %} alt="Content" class= "image">
                        <div class="content-text">6 months experiences</div>
                    </div>
                    <div class="cover-container">
                        <img src={% static 'photos/smallbox.png' %} alt="Cover" class= "image">
                        <div class="cover-text">HTML</div>
                    </div>
                    
                </div>
            </div>
            <div style="margin-top: 40px; display: flex;">
                <img src={% static 'photos/icons8-python-96.png' %} alt="Icon" style="float: left;">
                <div class="normal-text">1 year experience</div>
                <div class="textbox" id="python" onclick="clicked(this.id, 'content-container')">
                    <div id="python-unclicked"></div>
                    <div class="content-container" id="python-container">
                        <img src={% static 'photos/smalltext.png' %} alt="Content" class= "image">
                        <div class="content-text">1 year experience</div>
                    </div>
                    <div class="cover-container">
                        <img src={% static 'photos/smallbox.png' %} alt="Cover" class= "image">
                        <div class="cover-text">Python</div>
                    </div>
                </div>
            </div>

            

        
            
        </div>
        <div class="right-column">
            <div style="display: flex;"> 
                <img src={% static 'photos/icons8-unity-100.png' %} alt="Icon" class="android-img">
                <div class="normal-text">6 months experience</div>
                <div class="textbox-rotate" id="unity", onclick="clicked(this.id, 'content-container-rotate')">
                    <div class="content-container-rotate" id="unity-container">
                        <div id="unity-unclicked"></div>
                        <img src={% static 'photos/smalltext.png' %} alt="Content" class= "image-rotate" width="350" height="50">
                        <div class="content-text-rotate">6 months experiences</div>
                    </div>
                    <div class="cover-container">
                        <img src={% static 'photos/smallbox.png' %} alt="Cover" class= "image-rotate" width="350" height="50">
                        <div class="cover-text-rotate">Unity</div>
                    </div>
                    
                </div>
            </div>
            
            <div style="margin-top: 40px; display: flex">
                <img src={% static 'photos/java.png' %} alt="Icon" class="android-img" width="96" height="96">
                <div class="normal-text">6 months experience</div>
                <div class="textbox-rotate" id="java", onclick="clicked(this.id, 'content-container-rotate')">
                    <div class="content-container-rotate" id="java-container">
                        <div id="java-unclicked"></div>
                        <img src={% static 'photos/smalltext.png' %} alt="Content" class= "image-rotate" width="350" height="50">
                        <div class="content-text-rotate">6 months experiences</div>
                    </div>
                    <div class="cover-container">
                        <img src={% static 'photos/smallbox.png' %} alt="Cover" class= "image-rotate" width="350" height="50">
                        <div class="cover-text-rotate">Java</div>
                    </div>
                    
                </div>
            </div>
        
        </div>

            
        </div>
        
    </div>    
{% endblock %}