{% extends 'base5.html' %}
{% load static %}

{% block main %}
    <div class="column-center">
        <div class="row-center">
            <h1>Tambah Matkul</h1>
        </div>

        <div class="add-block">
            <div class="column-center">
                <form method="POST" action="{% url 'story5mk2:addMatkul' %}">
                    {% csrf_token %}
                    <div class="ask">
                        Name
                        <br>
                        <input placeholder="Nama mata kuliah" name="nama" required>
                    </div>
                    <div class="ask">
                        Kode Ruangan
                        <br>
                        <input placeholder="Kode Ruangan" name="ruangan" required>
                    </div>
                    <div class="ask">
                        Pengajar
                        <br>
                        <input placeholder="Nama dosen" name="dosen" required>
                    </div>
                    <div class="ask">
                        Semester
                        <br>
                        <select name="semester" required>
                            <option value="Gasal 2019/2020">Gasal 2019/2020</option>
                            <option value="Genap 2019/2020">Genap 2019/2020</option>
                            <option value="Gasal 2020/2021">Gasal 2020/2021</option>
                            <option value="Genap 2020/2021">Genap 2020/2021</option>
                            <option value="Gasal 2021/2022">Gasal 2021/2022</option>
                            <option value="Genap 2021/2022">Genap 2021/2022</option>
                            </select>
                    </div>
                    <div class="ask">
                        Jumlah SKS
                        <br>
                        <input type="number" value=1 name="jumlahSks" required>
                    </div>
                    <div class="ask">
                        Deskripsi
                        <br>
                        <textarea placeholder="Deskripsi" name="deskripsi" rows="4" required></textarea>
                    </div>
                    <button type="submit">Add Matkul</button>
                </form>
            </div>
        </div>
        

    </div>
{% endblock main %}
