{% load static %}

<html>
    <head>
        <title>Siak En Ji</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles5.css' %}">
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li style="float: left;"><a href="{% url 'story5mk2:siakenji' %}">Siak En Ji</a></li>
                <li><a href="{% url 'story5mk2:addMatkul' %}">Daftar Matkul</a></li>
            </ul>
        </div>
        <div class="contents">
            {% block main %}
            {% endblock main %}
        </div>
        
    </body>
</html>