{% extends 'base5.html' %}
{% load static %}
{% block main %}
  <div class="row-center">
    <h1>Info Kelas</h1>
  </div>
  <div class="column-center">
    <div class="detail-block">
      <div class="answer">
        <p>Nama Mata Kuliah</p>
          {{mataKuliah.nama}}
      </div>
      <div class="row-center">
        <div class="column-center-2">
          <div class="answer">
            <p>Ruangan</p>
            {{mataKuliah.ruangan}}
          </div>
          <div class="answer">
            <p>Pengajar</p>
              {{mataKuliah.dosen}}
          </div>
        </div>
        <div class="column-center-2">
          <div class="answer">
            <p>Semester</p>
              {{mataKuliah.semester}}
          </div>
          <div class="answer">
            <p>Jumlah SKS</p>
              {{mataKuliah.jumlahSks}} SKS
          </div>
        </div>
      </div>
      <div class="answer">
        <p>Deskripsi Kelas</p>
        {{mataKuliah.deskripsi}}
      </div>
    </div>
  </div>
   

{% endblock main %}