{% extends 'base5.html' %}
{% load static %}


{% block main %}
    <div class="row-center">
        <h1>Selamat Datang di Siak En Ji</h1>
    </div>
    <div class="column-center">
        {% for mataKuliah in listMataKuliah %}
        <div class="list-matkul">
            <div class="row-center">
                <a href={{mataKuliah.get_absolute_url}}>
                    {{mataKuliah.nama}}
                </a>
            </div>
            <div class="row-center">
                <div class="column-center-2">
                    <p>Ruangan: {{mataKuliah.ruangan}}</p>
                    <p>Dibawa oleh {{mataKuliah.dosen}}</p>
                </div>
                <div class="column-center-2" style="text-align: end; padding-right: 20px;">
                    <p>{{mataKuliah.semester}}</p>
                </div>
            </div>
            <form action="{% url 'story5mk2:deleteMatkul' mataKuliah.id %}" method="POST">
                {% csrf_token %}
                <button type="input">
                    Delete Mata Kuliah
                </button>
            </form>
        </div>
    {% endfor %}
    </div>
    

{% endblock main %}
