<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <a href="{% url 'story1:story1' %}">to Story 1</a>
        <a href="{% url 'story3:bio' %}">to Story 3</a>
        <a href="{% url 'story5mk2:siakenji' %}">to Story 5</a>
    </body>
</html>